<div class="simple-form">
    <p>
        @Message
    </p>
    <button @onclick="Done" type="button" class="btn btn-primary">Confirm</button>
    <button @onclick="Cancel" type="button" class="btn btn-secondary">Cancel</button>
</div>